#aider file
.aider.*
# Configuration file
config.yml
CONVENTIONS.md
to-do.md

# Virtual environment
venv/
.venv/
env/
.env
.nenv
conventions.md
uv.lock
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store

.git/
.aider*
or-proxy/*
orp
venv
